# Fill in these variables and rename this file to .env to run the Stripe tests

# This is the your test-mode Stripe API key
STRIPE_PLATFORM_KEY=

# This is the account ID of a Stripe account that's connected to the above account in test mode. See readme to set up.
STRIPE_CONNECTED_ACCOUNT_ID=

# This is a customer ID in the connected account with a test source attached (ie card # 4242...)
STRIPE_CUSTOMER_ID=


# Leave these as is - they just need to be a string
SECURE_CONFIG_BUCKET=test
SECURE_CONFIG_KEY_STRIPE=test
SECURE_CONFIG_KEY_ASSUME_RETRIEVE_STRIPE_AUTH=test
